{
    "vcenter_server":"$VSPHERE_SERVER",
    "insecure_connection": "true",
    "username":"$VSPHERE_USERNAME",
    "password":"$VSPHERE_PASSWORD",
    "vsphere_datacenter": "$VSPHERE_DATACENTER",
    "cluster": "$VSPHERE_CLUSTER",
    "datastore":"$VSPHERE_DATASTORE",
    "folder": "$VSPHERE_TEMPLATE_FOLDER",
    "network": "$VSPHERE_NETWORK",
    "convert_to_template": "true"
}
