---
apiVersion: v1
kind: Namespace
metadata:
  name: traefik
---
apiVersion: source.toolkit.fluxcd.io/v1beta2
kind: HelmRepository
metadata:
  name: traefik
  namespace: traefik
spec:
  interval: 1h
  url: https://traefik.github.io/charts
---
apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: traefik
  namespace: traefik
spec:
  interval: 30m
  chart:
    spec:
      chart: traefik
      version: "39.x"
      sourceRef:
        kind: HelmRepository
        name: traefik
        namespace: traefik
      interval: 1h
  values:
    ingressClass:
      name: public
      enabled: true
      isDefaultClass: true
    providers:
      kubernetesIngress:
        publishedService:
          enabled: true
    service:
      type: "${ingress_service_type:=LoadBalancer}"
---
apiVersion: notification.toolkit.fluxcd.io/v1beta2
kind: Alert
metadata:
  name: traefik
  namespace: flux-system
spec:
  summary: "Cluster: ${CLUSTER_NAME}, App: traefik"
  providerRef:
    name: slack
  eventSeverity: info
  eventSources:
    - kind: Kustomization
      name: 'traefik'
      namespace: traefik
    - kind: HelmRelease
      name: 'traefik'
      namespace: traefik
